div {
	font-size: 16px;
}
div p {
	font-size: 18px;
}
span p {
	font-size: 14px;
}
.f20 {
	font-size: 20px;
}
#zhangsan {
	font-size: 20px;
}
#a123 {
	color: #eab;
}
.red {
	color: red;
}
p.red {
	color: blue;
}
